<% content_for :page_title do %>
  <%= Spree.t(:report_per_variant) %>
<% end %>

<% content_for :page_actions do %>
  <li><%= link_to_with_icon 'icon-arrow-left', Spree.t(:back_to_reports_list), spree.admin_reports_url, :class => 'button' %></li>
<% end %>


<table class="admin-report" data-hook="unavailable_products">
  <thead>
    <tr>
			<th> <%= Spree.t("report_per_variant_headers.product_id") %> </th>
			<th> <%= Spree.t("report_per_variant_headers.name") %> </th>
			<th> <%= Spree.t("report_per_variant_headers.variant_id") %> </th>
			<th> <%= Spree.t("report_per_variant_headers.sku") %> </th>
			<th> <%= Spree.t("report_per_variant_headers.quantity") %> </th>
    </tr>
  </thead>
	<tbody>

  <% @products.each do |product, variants| %>
		  <% variants.each do |variant, quantity| %>
				  <tr class="align-center">
						  <td><%= product.id %></td>
						  <td><%= product.name %></td>
						  <td><%= variant.id %></td>
						  <td><%= variant.sku %></td>
						  <td><%= quantity %></td>
				  </tr>
			<% end %>
  <% end %>
  </tbody>
</table>
